:root {
  --height-slider: 640px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--font-family), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1212px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* Переопределяем стили календаря */

.react-datepicker-popper {
  z-index: 9999 !important;
}

.react-datepicker {
  border: 1px solid #eee !important;
  border-radius: 10px !important;
  width: 283px !important;
  min-height: 286px !important;
  font-family: var(--font-family) !important;
  background-color: #fff !important;
  overflow: hidden !important;
}

.react-datepicker__header {
  background-color: #3b9254 !important;
  color: #fff !important;
  border-bottom: none !important;
  padding: 8px 0 0 0 !important;
  border-top-left-radius: 0 !important;
}

.react-datepicker__month-container {
  width: inherit;
}

.react-datepicker__current-month {
  font-family: var(--font-family) !important;
  font-weight: 700 !important;
  font-size: 13px !important;
  text-transform: uppercase !important;
  color: #fff !important;
  width: min-content !important;
  text-align: center !important;
  margin: 0 auto !important;
  padding-bottom: 8px !important;
}

.react-datepicker__day-names {
  background-color: #fff !important;
  padding-top: 10px !important;
  padding-bottom: 16px !important;
}

.react-datepicker__day-name {
  font-family: var(--font-family) !important;
  font-weight: 700 !important;
  font-size: 13px !important;
  color: #1a3a27 !important;
  text-transform: capitalize;
  width: 18px !important;
  height: 18px !important;
  margin-right: 18px !important;
}

.react-datepicker__day-name:last-child {
  margin-right: 0 !important;
}

.react-datepicker__day {
  color: #1a3a27 !important;
  font-size: 13px !important;
  width: 25px !important;
  height: 25px !important;
  margin-right: 11px !important;
}

.react-datepicker__day:last-child {
  margin-right: 0 !important;
}

.react-datepicker__day--today {
  font-family: var(--font-family) !important;
  font-weight: 900 !important;
  font-size: 13px !important;
  text-decoration: underline !important;
  text-decoration-skip-ink: none !important;
  text-align: center !important;
  color: #1a3a27 !important;
  background-color: #fff !important;
}

.react-datepicker__day--selected {
  background-color: #3b9254 !important;
  color: white !important;
}

.react-datepicker__day:hover {
  background-color: #3b9254 !important;
  color: white !important;
}

.react-datepicker-popper .react-datepicker__triangle {
  display: none;
}

.react-datepicker__day--disabled,
.react-datepicker__day--disabled:hover {
  color: #ccc !important;
  background-color: #fff !important;
  cursor: default !important;
}

.react-datepicker__highlighted-range,
.react-datepicker__day--in-range {
  background-color: #3b9254 !important;
  border-radius: 50% !important;
  color: #fff !important;
}

.react-datepicker__day--in-range.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--selecting-range-start,
.react-datepicker__day--keyboard-selected {
  background-color: #3b9254 !important;
  color: white !important;
  border-radius: 50% !important;
}

.react-datepicker__range-start {
  background-color: #28a745 !important;
  color: white !important;
  border-radius: 50% !important;
}

.react-datepicker__range-end {
  background-color: #28a745 !important;
  color: white !important;
  border-radius: 50% !important;
}

/* Icon */

/* button #list-icon path {
  stroke: #2a7941;
  transition: all 0.3s ease;
  transform: scale(1);
  transform-origin: center;
  transform-style: preserve-3d;
} */

/* button:hover #list-icon path {
  stroke: #fff;
  transform: scale(1.05);
} */
