.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #515753;
  margin-bottom: 20px;
}

.text:last-child {
  margin-bottom: 0;
}

.textColor_primary {
  color: #515753;
}

.textColor_secondary {
  color: #1a3a27;
}

@media (max-width: 768px) {
  .text {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .text {
    font-size: 15px;
  }
}
