.overlay {
  position: relative;
}

.overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.overlay img {
  width: 100%;
  height: var(--height-slider);
  object-fit: cover;
  display: block;
  overflow: hidden;
}

.slide {
  position: relative;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 720px;
  padding: 0 20px;
}

.content h2 {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: clamp(30px, 4.746vw, 56px);
  line-height: 110%;
  text-align: center;
  color: #fff;
  width: 100%;
  margin-bottom: 10px;
}

.content p {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: clamp(15px, 1.695vw, 20px);
  line-height: 150%;
  text-align: center;
  color: #fff;
}

@media (max-width: 920px) {
  .content {
    max-width: 570px;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 0 10px;
  }
}
