.inputWrapper {
  position: relative;
}

.input {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 13px 15px;
  width: 100%;
  background: #fff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1a3a27;
}

.input::placeholder {
  color: #949895;
}

.input:focus {
  border: 1px solid #4ea366;
  outline: none;
}

.inputError {
  border: 1px solid #ff564e;
}

.error {
  position: absolute;
  left: 0;
  bottom: -20px;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #ff564e;
}

@media (max-width: 480px) {
  .input {
    padding: 10px 15px;
    font-size: 15px;
  }
}
