.bookForm {
  border-radius: 10px;
  background: url(../../_assets/images/bg-form-book.png) no-repeat center center /
      cover,
    linear-gradient(
      135deg,
      #24733b 0%,
      #429058 19.79%,
      #2e7b44 31.77%,
      #44945b 46.88%,
      #2e7b44 58.33%,
      #408f57 71.35%,
      #18622e 100%
    );
  padding: 28px 40px 40px;
}

.title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #fff;
  margin-bottom: 22px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 18px;
  flex-wrap: wrap;
}

.formGroup {
  display: grid;
}

.label {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: #f3efe8;
  margin-bottom: 8px;
}

.customHeader {
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
}

.customHeader button {
  border: none;
  background: transparent;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customHeaderMonth {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.customHeaderYear {
  font-weight: 400;
  font-size: 13px;
}

@media (max-width: 768px) {
  .title {
    font-weight: 400;
  }
}

@media (max-width: 425px) {
  .title {
    text-align: center;
  }
}
