.hero {
  margin-bottom: 30px;
}

.book {
  margin-bottom: 90px;
}

.galleryGrid {
  margin-bottom: 80px;
}

.sliderBook {
  margin-bottom: 80px;
  padding: 40px 40px 44px;
  border-radius: 10px;
  background:
    url(../../../shared/assets/images/bg-book-slider.png) no-repeat center
      center / cover,
    #f0e7d9;
}

.headingSliderBook {
  margin-bottom: 30px;
}

.sliderBookContent {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.sliderBookChips {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.sliderBookDescription {
  max-width: 832px;
}

.services {
  margin-bottom: 80px;
}

.headingServices {
  margin-bottom: 40px;
}

.sliderInfrastructure {
  padding-top: 60px;
  padding-bottom: 80px;
  margin-bottom: 80px;
  background-color: #eaf5ed;
  background-image: url(../../../shared/assets/images/bg-infrastructure.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.sliderInfrastructureItem {
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  height: 320px;
}

.sliderInfrastructureImage {
  grid-row: 1/3;
  grid-column: 1/-1;
  position: relative;
}

.sliderInfrastructureImage::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(26, 58, 39, 0.05) 0%,
    rgba(26, 58, 39, 0.702) 100%
  );
  z-index: 0;
}

.sliderInfrastructureTitle {
  position: relative;
  grid-row: 2/2;
  grid-column: 1/-1;
  margin-top: auto;
  padding: 20px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #fff;
  z-index: 1;
}

.sliderInfrastructureImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 768px) {
  .galleryGrid {
    padding-right: 0;
    margin-bottom: 60px;
  }

  .sliderBook {
    padding: 30px 30px 34px;
    margin-bottom: 60px;
  }

  .heroSlider {
    --height-slider: 520px !important;
  }

  .sliderBookSlider {
    --height-slider: 450px !important;
  }

  .book {
    margin-bottom: 60px;
  }

  .services {
    margin-bottom: 60px;
  }

  .sliderInfrastructure {
    margin-bottom: 60px;
  }

  .sliderInfrastructureContainer {
    padding-right: 0;
  }

  .sliderInfrastructureTitle {
    font-size: 16px;
  }
}

@media (width = 768px) {
  .galleryGrid {
    padding-right: 16;
  }

  .sliderInfrastructureContainer {
    padding-right: 0;
  }

  .sliderInfrastructureContainer {
    padding-right: 0;
  }
}

@media (max-width: 480px) {
  .galleryGrid {
    padding-right: 0;
    margin-bottom: 40px;
  }

  .sliderBook {
    padding: 30px 20px 30px;
    margin-bottom: 40px;
  }
  .heroSlider {
    --height-slider: 450px !important;
  }

  .sliderBookSlider {
    --height-slider: 200px !important;
  }

  .headingSliderBook {
    margin-bottom: 20px;
  }

  .book {
    margin-bottom: 40px;
  }
  .services {
    margin-bottom: 40px;
  }

  .sliderInfrastructure {
    margin-bottom: 40px;
  }
}
