.heading {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  color: #1a3a27;
}

@media (max-width: 768px) {
  .heading {
    font-size: 24px;
  }
}
